/* Responsivité téléphones */
@media screen and (max-width:450px) {
  body {
    font-family: "Lato", sans-serif;
    display: block;

  }

  .container-fluid {
    display: block;
  }

  .sidenav {
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 0;
    /* top: 0%; */
    padding-top: 5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  .col .card {
    margin: auto;
    background-image: linear-gradient(rgb(137, 166, 209), orange, rgb(137, 166, 209));
  }

  ol li .projets {
    text-decoration: none;
    color: rgba(27, 27, 25, 0.411);
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: hsl(0, 0%, 95%);
  }

  .main {
    margin-left: 25%;
    /* Same as the width of the sidenav */
    font-size: small;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  h1 {
    background-color: #111;
    color: #f1f1f1;
    font-size: small;
    margin-left: 8%;
    text-align: center;
    position: relative;
  }
}
/* Responsivité pour tablettes et ordinateurs */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-height: 450px) {
  body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 0;
    /* top: 0%; */
    padding-top: 5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  .col .card {
    background-image: linear-gradient(rgb(137, 166, 209), orange, rgb(137, 166, 209));
  }

  ol li .projets {
    text-decoration: none;
    color: rgba(27, 27, 25, 0.411);
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: hsl(0, 0%, 95%);
  }

  .main {
    margin-left: 210px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  h1 {
    background-color: #111;
    color: #f1f1f1;
    text-align: center;
    position: relative;
  }
}